@import '../../styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

.g2-tooltip {
    background-color: #24204b !important;
    position: relative;
    width: 144px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    box-shadow: none !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    font-family: 'Proxima Nova';
}
.g2-tooltip-list {
    color: #aaa4e3;
    list-style-type: none !important;
}
.g2-tooltip-marker {
    display: none;
}
.g2-tooltip-title {
    background-color: #2b275b;
    border-radius: 30px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    top: -25px;
    right: 0;
    position: absolute;
    left: 0;
    color: #635e98;
    box-shadow: 1px 1px -17px #635e98;
}

.ant-slider-handle {
    display: none;
}

.chartContainer {
    canvas {
        height: 460px !important;
        border: 1px solid #635e98;
        // margin-bottom: -100px !important;
    }
}

.wrapButton {
    margin-left: 0px;
    margin-bottom: 40px;

    button {
        margin-right: 28px;
        transition: 0.5s;
        color: #413d77;
    }
    button:hover,
    .focus {
        text-shadow: 0 0 6px rgba(105, 116, 219, 0.5);
        color: $textColor;
    }
}

.user {
    h2 {
        font-size: 22px;
        color: $colorBox;
        margin: 0;
    }
    h3 {
        font-size: 12px;
        color: #635e98;
        margin: 0;
        font-weight: lighter;
    }
    h4 {
        font-size: 16px;
        color: $colorBox;
        margin: 0;
        font-weight: lighter;
    }
    input,
    span {
        font-size: 30px;
        color: red;
    }
}

@media screen and (max-width: 992px) {
    .columnChart {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 992px) {
    .columnChart {
        margin-bottom: -60px;
    }
}

@media screen and (min-width: 1600px) {
    .activeUser {
        width: 580px;
        padding: 28px 32px;
        height: 534px;
    }
    .user {
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 12px;
        }
        h4 {
            font-size: 18px;
        }
    }
}
