@media screen and (max-width: 992px) {
    .menuProject {
        width: 0px;
        height: 100%;
    }
    .contentPage {
        width: 100%;
    }
    .margin-32 {
        margin-top: 32px;
    }
}

@media screen and (min-width: 992px) {
    .menuProject {
        width: 95px;
        display: flex;
        height: 100%;
    }
    .contentPage {
        width: 100%;
    }

    .wrapChart {
        margin-bottom: -80px !important;
        display: flex;
        align-items: flex-end;
    }
    .margin-32 {
        margin-top: 32px;
    }
}
