$textColor: #635e98;
$backgroundColor: #171430;

//box
$borderBox: #f2f2f2;
$backgroundBox: #24204b;
$colorBox: #928dc4;
$boxShadow: 1px 1px 34px -16px #928dc4;

@mixin boxComponent() {
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    padding: 20px 28px;
    background-color: $backgroundBox;
    border-radius: 17px;
    box-shadow: 3px 10px 50px -12px #000;
    border: 0.2px solid #433e73;
    color: $colorBox;
    h2 {
        color: $colorBox;
        font-size: 18px;
        font-weight: normal;
    }

    //ant slide
    .ant-slider-track {
        background-color: #679cf6 !important;
        height: 6px;
        margin-top: -1px;
        z-index: 2 !important;
        border-radius: 3px;
        box-shadow: 0 5px 15px -50px #070808;
    }
    .ant-slider-step {
        background-color: #413b7a;
    }
    .ant-slider-rail {
        height: 4px;
        border-radius: 3px;
    }

    //select
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        background-color: transparent;
        border: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: $textColor;
    }
    .ant-select-arrow {
        height: 100%;
        color: $textColor;
        top: 40%;
    }
    .ant-select-open {
        background-color: transparent;
    }

    .ant-select {
        color: $textColor;
    }

    //dropdown
    .ant-select-single .ant-select-selector .ant-select-selection-item {
        color: $colorBox;
        font-weight: unset;
        font-size: 18px;
    }
    .ant-btn-icon-only {
        background-color: transparent;
        color: $textColor;
        font-size: 30px;
        border: none;
    }
    .ant-btn-icon-only:hover,
    .ant-btn:focus {
        background-color: transparent;
        outline: none;
    }
}
