@use '../../styles/theme';

$text: theme.$textColor;
$border: theme.$borderBox;

button {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.ant-drawer-close {
    display: none;
}
.anticon,
.anticon-close {
    display: none;
}
.ant-drawer-header-no-title {
    display: none;
}

.settingIcon {
    color: theme.$textColor;
    font-size: 20px;
    // margin: auto 0;
}

header {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-top: 28px;
    justify-content: space-between;
    h1 {
        font-size: 40px;
        margin: 0;
        color: $text;
    }
    h3 {
        font-size: 16px;
        color: $text;
        margin: auto 28px;
        min-width: 105px;
        font-weight: unset;
    }
    ion-icon {
        color: theme.$textColor;
    }

    .ant-input-affix-wrapper {
        background-color: transparent;
        border-color: #635e98;
        border-radius: 40px;
        width: 80%;
        max-width: 260px;
        height: 42px;
        font-size: 20px;
        .ant-input {
            background-color: transparent;
            color: theme.$textColor;
        }

        ::placeholder {
            color: theme.$textColor;
            opacity: 0.6; /* Firefox */
            font-style: normal;
        }
        .searchIcon {
            color: theme.$textColor;
            font-size: 20px;
        }
    }

    .ant-btn > .anticon {
        line-height: 0;
    }

    .buttonPlus {
        width: 42px;
        height: 42px;
        display: flex;
        background-color: transparent;
        border-color: #635e98;
        align-items: center;
        justify-content: center;
    }

    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
        background-color: transparent;
    }
    .iconMenu {
        font-size: 20px;
    }

    div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        button:nth-child(4) {
            font-size: 20px;
            margin: auto 0 auto 28px;
        }
        button:nth-child(1) {
            margin: auto 0;
            font-size: 40px;
            display: flex;
            align-items: center;
        }
    }
}

@keyframes animationMenuHeader {
    from {
        opacity: 0.2;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    header {
        h1 {
            font-size: 30px;
        }
        h3 {
            font-size: 18px;
        }
        .wrapMenu {
            display: none;
        }
        .showInMobile {
            display: flex;
            position: relative;
            ion-icon {
                font-size: 30px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        h1 {
            font-size: 40px;
        }
        h3 {
            font-size: 20px;
            margin: 0 28px;
        }
        .showInMobile {
            display: none;
            position: relative;
            ion-icon {
                font-size: 30px;
            }
        }
    }

    .ant-drawer-content-wrapper,
    .ant-drawer,
    .ant-drawer-right,
    .ant-drawer-open {
        display: none;
    }
}
